body{
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalhoPrincipal h1, #cabecalhoPrincipal nav{
    text-align: center;
    color: white;
}

#cabecalhoPrincipal{
    background-color: rgb(80,197,155);
    padding: 20px;
}

body, #cabecalhoPrincipal h1{
    margin: 0;
}

#cabecalhoPrincipal h1{
    margin-bottom: 10px;
}

a {
    text-decoration:none ;
    text-align: center;
    background-color: rgb(64, 128, 190);
    color: inherit;
    padding: 5px 20px 5px 20px;
}

p{
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(224, 224, 224);
}
